<app-header-menu></app-header-menu>
<main>
  <div class="main">
    <div class="message">
      <div class="centrador">
        <h2 class="text1">conectando cuidado médico y comodidad en la palma de tu mano</h2>
      </div>
      <img ngSrc="../../../../assets/img/linea-separadora.png" class="line" alt="linea separadora" height="50" width="835">
      <div class="centrador">
        <h2 class="text2">tu acceso a la atención médica donde y cuando lo necesites</h2>
      </div>
    </div>
    <div class="background-image">
      <img ngSrc="../../../../assets/img/doctora_paciente-fondo.jpg" height="508" width="760" loading="lazy" alt="imagen doctora paciente" class="img-fondo">
    </div>
  </div>
</main>
